{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="{% url 'core:index' %}" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                <span></span> Pages <span></span> My Account
            </div>
        </div>
    </div>

    <div class="page-content pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-10 col-md-12 m-auto">
                    <div class="row">
                        <!-- Left Image -->
                        <div class="col-lg-6 pr-30 d-none d-lg-block">
                            <img class="border-radius-15" src="{% static 'assets/imgs/page/login-1.png' %}" alt="" />
                        </div>

                        <!-- Login Form -->
                        <div class="col-lg-6 col-md-8">
                            <div class="login_wrap widget-taber-content background-white">
                                <div class="padding_eight_all bg-white">
                                    <div class="heading_s1">
                                        <h1 class="mb-5">Login</h1>
                                        <p class="mb-30">
                                            Don't have an account? 
                                            <a href="{% url 'userauths:sign-up' %}">Create here</a>
                                        </p>
                                    </div>

                                    <!-- Existing Email/Password Form -->
                                    <form method="POST"> 
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <input type="text" required name="email" placeholder="Username or Email *" autocomplete="username" />
                                        </div>
                                        <div class="form-group">
                                           <input required type="password" name="password" placeholder="Your password *" autocomplete="current-password" />
                                        </div>

                                        <div class="login_footer form-group mb-50">
                                            <div class="chek-form">
                                                <div class="custome-checkbox">
                                                    <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox1" value="" />
                                                    <label class="form-check-label" for="exampleCheckbox1"><span>Remember me</span></label>
                                                </div>
                                            </div>
                                            <a class="text-muted" href="#">Forgot password?</a>
                                        </div>

                                        <div class="form-group">
                                            <button type="submit" class="btn btn-heading btn-block hover-up" name="login">Log in</button>
                                        </div>
                                    </form>

                                    <!-- OR Divider -->
                                    <div class="text-center my-3">or</div>

                                    <!-- Google One Tap / Button -->
                                    <div class="form-agroup mt-20">
                                        <div id="g_id_onload"
                                             data-client_id="220674381580-vee67c9fb0c8lki4u6pv5tuin8lcqie7.apps.googleusercontent.com"
                                             data-login_uri="{{ login_uri }}"
                                             data-auto_prompt="true">
                                        </div>

                                        <div class="g_id_signin"
                                             data-type="standard"
                                             data-size="large"
                                             data-theme="outline"
                                             data-text="signin_with"
                                             data-shape="rectangular"
                                             data-logo_alignment="left">
                                        </div>
                                    </div>

                                </div> <!-- padding_eight_all -->
                            </div> <!-- login_wrap -->
                        </div> <!-- col-lg-6 -->
                    </div> <!-- row -->
                </div> <!-- col-xl-8 -->
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- page-content -->
</main>

<!-- Google One Tap JS -->
<script src="https://accounts.google.com/gsi/client" async defer></script>
<script>
    function handleCredentialResponse(response) {
        console.log("Encoded JWT ID token: " + response.credential);

        // Send token to backend for verification
        fetch("{% url 'core:google-one-tap-login' %}", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}"
            },
            body: JSON.stringify({ credential: response.credential })
        })
        .then(res => res.json())
        .then(data => {
            if(data.success){
                window.location.href = "{% url 'core:index' %}";
            } else {
                alert("Google login failed!");
            }
        });
    }

    window.onload = function() {
        google.accounts.id.initialize({
            client_id: "220674381580-vee67c9fb0c8lki4u6pv5tuin8lcqie7.apps.googleusercontent.com",
            callback: handleCredentialResponse,
            auto_select: true
        });
        google.accounts.id.prompt();
    };
</script>

{% endblock content %}
